extends layout/layout.pug

block content	
	div(class='content-wrapper')
		section(class="content-header")
			h1 Dashboard
				small Manage Your Resume & CV
			ol(class="breadcrumb")
				li(class="active")
					i(class="fa fa-dashboard")
					span  Dashboard
		section(class="content")
			div(class="row")
				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Profile
							p Profile Management
						div(class="icon")
							i(class="ion-android-person")
						a(href="profile" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Educations
							p Educations Management
						div(class="icon")
							i(class="fa fa-mortar-board")
						a(href="educations" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Languages
							p Languages Management
						div(class="icon")
							i(class="fa fa-bullhorn")
						a(href="languages" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Interests
							p Interests Management
						div(class="icon")
							i(class="fa fa-thumbs-up")
						a(href="interests" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Experiences
							p Experiences Management
						div(class="icon")
							i(class="fa fa-star")
						a(href="experiences" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Projects
							p Projects Management
						div(class="icon")
							i(class="fa fa-briefcase")
						a(href="projects" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")

				div(class="col-lg-4 col-xs-12")
					div(class="small-box bg-aqua")
						div(class="inner")
							h3 Skills
							p Skills & Proficiency Management
						div(class="icon")
							i(class="fa fa-flash")
						a(href="skills" class="small-box-footer") Go to Page 
							i(class="fa fa-arrow-circle-right")
