extends ../layout/layout.pug

block content	
	div(class='content-wrapper')
		section(class="content-header")
			h1 Educations
				small List Educations
			ol(class="breadcrumb")
				li
					a(href="dashboard")
						i(class="fa fa-dashboard")
						span  Dashboard
				li(class="active")
					span  Educations
		section(class="content")
			div(class="row")
				div(class="col-md-12")
					div(class="box box-primary")
						div(class="box-header with-border")
							h3(class="box-title") Education Listing
						div(class="box-body")
							a(href="educations/add" class="btn btn-primary") 
								i(class="fa fa-plus") 
								span &nbsp; Add Data
							br
							br
							table(class="table table-striped")
								thead
									tr
										th No
										th Title
										th Institution
										th Year
										th Action
								tbody
									- var i = 1
									if educations
										each val, index in educations
											tr
												td= i++
												td= val.title
												td= val.institution
												td= val.year 
												td
													h4
														a(href= 'educations/edit/' + index)
															i(class="fa fa-edit")
														span &nbsp; &nbsp;
														a(href= 'educations/delete/' + index)
															i(class="fa fa-trash")